.form{
    width: 400px;
    margin: 50px auto;
    &[name="loginForm"]{
        text-align: center;
    }
    legend{
        font-size: 18px;
        font-weight: bold;
        line-height: 2;
        text-align: center;
        border-bottom:none;
        margin: 0;
    }
    label{
        width: 100px;
    }
    input[type="email"],input[type="password"]{
        width: 240px;
    }
    button{
        width: 100px;
    }
}