.form {
  width: 400px;
  margin: 50px auto;
}

.form[name="loginForm"] {
  text-align: center;
}

.form legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  border-bottom: none;
  margin: 0;
}

.form label {
  width: 100px;
}

.form input[type="email"], .form input[type="password"] {
  width: 240px;
}

.form button {
  width: 100px;
}
