doctype html
html
    head
        title hello pug
        link(href='/css/base.min.css' rel='stylesheet')
        link(href='/css/index.min.css' rel='stylesheet')
    body
        h1 hello! welcome to chat room !
        div.form
            div#content.content
            p#info.info connecting ...
            input(type="text")#input.input