doctype html
html
	head
		title this is sign
		link(href='/css/base.min.css' rel='stylesheet')
		link(href='/css/sign.min.css' rel='stylesheet')
	body
		h1 please sign
		div.sign 
			label email
			input(placeholder='email')
			br
			label password 
			input(placeholder='password')