doctype html
html
	head
		title sign
		//- link(href='/css/base.min.css')
		//- link(href='/css/sign.min.css')
	body
		form(action='/login' method='post' class='form form-aligned' name="loginForm")
			fieldset
				legend login 
				div.control-group
					input(type='email' name='email' placeholder='email' required)
				div.control-group
					input(type='password' name='password' placeholder='password' maxlength='12' required)
				button(type='submit' class='button button-primary') login

		form(action='/register' method='post' class='form form-aligned' name="regForm")
			fieldset
				legend register
				div.control-group
					label email
					input(type='email' name='email' placeholder='email' required)
				div.control-group
					label password
					input(type='password' name='password' placeholder='password' maxlength='12' pattern='[\\d\\w]{4,12}' required)
				div.control-group
					label confirm password
					input#pass2(type='password' placeholder='confirm password' required)
				div.controls
					button(type='submit' class='button button-primary') register