extends ./layout/layout.pug
block css
    //- link(href='/css/base.min.css' rel='stylesheet')
    //- link(href='/css/index.min.css' rel='stylesheet')
block content    
    .block
        #tip.tip connectting...
        header
            h2 Welcome to chat room !
        .media
            nav#nav
            .form
                #content.content
                input(type="text" placeholder='input message...')#input.input