<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
{% include '../partial/meta.html' %}
<link rel="stylesheet" href="./lib/fontello/fontello.css">
<style> {% include '../../public/css/index.css' %}</style>
{% block css %}{% endblock %}
</head>
<body>
{% autoescape false %}
{% block content %}{% endblock %}
{% endautoescape %}
<div id="overlay" class="overlay"></div>
<div id="loading" class="overlay" style="background-color: rgba(0,0,0,.2);">
    <div class="loading">
        <div class="round"></div>
    </div>   
</div>
<script>{% include '../../public/lib/jquery.min.js' %}</script>
<script>
function showDialog(opt, confirm, cancel) {
    var isStr = typeof opt == 'string', txt = isStr ? opt : opt.txt, ytxt = isStr ? '确定' : opt.confirm, ctxt = isStr ? '取消' : opt.cancel||'',
        tpl = '<div class="dialog"><div class="dialog-text"><p>{txt}</p></div><div class="dialog-footer"><a href="javascript:;" class="confirm">{confirm}</a>'
        + (ctxt?'<a href="javascript:;" class="cancel">{cancel}</a>':'') + '</div></div>',
        html = $(tpl.replace('{txt}', txt).replace('{confirm}', ytxt).replace('{cancel}', ctxt));

    $('#overlay').show();
    $(document.body).append(html);
    html.find('.confirm').on('click', function(e) {
        e.stopPropagation();
        confirm && confirm();
        $('#overlay').hide();
        html.remove();
    });
    html.find('.cancel').on('click', function(e) {
        e.stopPropagation();
        cancel && cancel();
        $('#overlay').hide();
        html.remove();
    });
}
</script>
{% block js %}{% endblock %}
</body>
</html>