.block {
    position: relative;
  box-sizing: border-box;
  width: 700px;
  margin: 20px auto;
}
.tip{
	display: none;
	position: absolute;
	left: 300px;
	top: 80px;
	min-width: 200px;
	padding: 0 10px;
	line-height: 3;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background: hsla(0,0%,0%,.5);
	&.show{
		display: block;
	}
}
header {
  background: hsl(200, 97%, 45%);
  h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    line-height: 3;
    color: #fff;
    text-align: center;
  }
}
.media {
  display: flex;
  align-items: flex-start;
  border:1px solid #ddd;
  border-top: none;
  nav {
    width: 200px;
    a {
        &:first-child{
            margin-top: 10px;
        }
      display: block;
      line-height: 2.4;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .form {
    flex: 1;
    border-left: 1px solid #ddd;
  }
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  min-height: 300px;
  max-height: 600px;
  overflow-y: scroll;
  p {
    margin: 0;
    line-height: 1.6;
  }
  time {
    display: inline-block;
    width: 58px;
    color: #aaa;
  }
  span {
    &:nth-of-type(1) {
      padding: 4px;
    }
    &:nth-of-type(2) {
      color: #555;
    }
  }
}
.info {
  padding-left: 20px;
  color: #d00;
}
.input {
    box-sizing: border-box;
  border-radius: 0 !important;
  margin-bottom: -1px;
  width: 100%;
}
